<phpunit bootstrap="./bootstrap.php" backupGlobals="false" backupStaticAttributes="false" strict="true" verbose="true">
    <testsuite name="Bav Library Test Suite">
        <directory>./library</directory>
    </testsuite>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="coverage-html" target="./build/coverage" title="ewallet-core"/>
        <log type="junit" target="./build/logs/junit.xml"/>
    </logging>
    <filter>

        <whitelist>
            <directory suffix=".php">../library/Bav</directory>
        </whitelist>
    </filter>
</phpunit>
